django-bootstrap==0.2.4
djangorestframework==3.12.4
fastapi==0.63.0
bootstrap-admin==0.4.4
Pillow==8.2.0
gunicorn==19.0.0
Flask==0.11.1
passlib==1.7.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
gunicorn==19.0.0
gevent==21.1.2
#pip3 install -r requirements.txt